{% comment %} {% extends 'index.html' %}

{% block titulo_pag %}
    Creación de Libros
{% endblock titulo_pag %}

{% block encabezado%}
    Crear Un Libro
{% endblock encabezado %}

{% block titulo_modulo %}
    Formulario
{% endblock titulo_modulo %}

{% block contenido %}
    <div class="col-lg-12">
        <form action="" method="post">
            <div class="card">
                <div class="card-body card-block">
                        {% csrf_token %}
                        {{ form.as_p}}
                </div>
            </div>
            <button type="subtmit" class="btn btn-success">Registrar</button>
        </form>
    </div>
{% endblock contenido %} {% endcomment %}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Creación de Libro</h2>
            <button class="close" type="button" data-dismiss = "modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'libro:crear_libro' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss = "modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>
    </div>
</div>

